* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background-color: #eee;
}

#envoltorio-main-aside {
    display: flex;
}

header {
    width: 100%;
    padding: 30px;
    background-color: #bf2217;
}

#logo {
    font-size: 24px;
    float: left;
    color: white;
    margin-right: 50px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 30px;
    width: 70%;
}

article {
    padding: 50px;
    margin: 0 auto;
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

article h3 {
    margin-bottom: 20px;
}

article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article figure img {
    width: 100%;
}

article figure figcaption {
    margin-top: 20px;
    font-size: 18px;
}

article button {
    font-size: 18px;
}

aside {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    width: 20%;
    margin-left: 30px;
}

aside h4 {
    margin-bottom: 20px;
}

aside ul li {
    list-style: none;
    margin-bottom: 10px;
}

aside video {
    width: 100%;
}

aside h4, .media {
    margin: 10px 0;
}

footer {
    width: 100%;
    background-color: #bf2217;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

footer a {
    color: white;
}
